///PALETA DE CORES/////

$cor-principal:#00EEFF;
$cor-fundo:linear-gradient(#111111, #18181a21);

.home{
   position: fixed;
   display: flex;
   align-items: center;
   top: 5%;
   //border: 1px solid rgb(0, 255, 98);
   width: 90%;
   left: 5%;
   height: 74%;
   background:$cor-fundo;
   border-radius: 20px;

   .subHome{
     margin-top: 100px;
     align-self: start;
     display: grid;
     gap: 10px;
     margin-left: 150px;

       h2{
         color: rgba(255, 255, 255, 0.705);
         font-family: 'Quicksand', sans-serif;
         font-size: 30px;
       }

       .digitando{
             width: 85%;
             color: rgba(255, 255, 255, 0.705);
             font-family: 'Quicksand', sans-serif;
             font-size: 30px;
       }

        p {
         font-family: 'Quicksand', sans-serif;
         font-size: 25px;
         font-weight: 600;
         color: rgba(255, 255, 255, 0.705);
         width: 575px;
        }
    }
   
    .digitando::after {
        content: '|';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .5s infinite;
        color:$cor-principal;
    }
    
    @keyframes pisca {
        from {
            opacity: 1;
    
        }
    
        to {
            opacity: 0;
    
        }
    }
    
    .redes{
        position: absolute;
        height: 110%;
        width: 50%;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        margin-top: 400px;
        position: fixed;
        border: 1px solid red;
        height: 110px;
        width:300px;
        .subRedes{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:40%;
            height:35%;
            margin-bottom: 10px;
            margin-left:20px;
            a{
                font-size: 30px;
                color: #00EEFF;
 
            }
         
        }
        
        .download{
            background-color: rgba(0, 0, 0, 0.158);
            color:$cor-principal;
            border: 2px solid $cor-principal;
            width: 140px;
            margin-left: 20px;
            padding: 10px;
            border-radius: 20px;
            font-family: 'poppins',sans-serif;
            font-weight: 600;
            text-decoration: none;
            

        }
        
        .download:hover{
            color:$cor-principal;
            border: 2px solid #3c7aff;
            transition: 2s;
        }
        

    }

    .fotoPefil{
        position: absolute;
        top: 12%;
        left: 60%;
        transform: translate(-5%, -5%);
        

        img{
            max-width: 65%;
            border: 1px solid;
            margin-left: 150px;
            margin-top: 45px;
            border-radius: 950px;
            transform: scale(2);
            animation: flutuacao 15s ease-in-out infinite;
            box-shadow: 0px 0px 5px 5px  #00EEFF;
            transition: 3s;
        }

        img:hover {
            max-width: 100%;
            border: 1px solid;
            margin-left: 150px;
            margin-top: 45px;
            border-radius: 850px;
            transform: scale(2);
            animation: flutuacao 10s ease-in-out infinite;
            box-shadow: 0px 0px 5px 2px  #1500ff;
            transition: 8s;
           
        }






        /* foto-perfil-animação */
        @keyframes flutuacao{
            0%,100%{
                transform: translateY(0px);
            }

            50%{
            transform: translateY(-50px);
             }
        }

        
    }

  
}
  